
body { 
    margin: 0; 
    padding: 0; 
    font-family: helvetica; 
    font-size: small; 
    color: #333333; 
    font-weight: normal; 
}

/* main menu items */

#gridcontainer{
    float:left;
}

.tagIcon {
	text-align:center;
	padding: 4px 0 0 0;
	color: #c83006;
	font-weight:bold;
}

.ui-link{
	text-align: center;
	
}

.Aicon{
	padding:0 0 0 16%;
}

.buttongroup{
	margin: 0 0 0 0.1em; 
	width:95%;
	display: block;
    padding: 1.1em 10px 1em 45px;
	text-align:left;
	font-size: small;
	font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	-moz-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.12) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.12) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.12) /*{global-box-shadow-color}*/;

}

.addARound{
	background: url(../images/addRoundBtn.png) -3px -1px;

}


.addActivity{
	background: url(../images/ActBtn.png) -1px -1px;

}


.timeEvent{
	background: url(../images/timeBtn.png) -3px -1px;

}


.save{
	background: url(../images/saveBtn.png) -3px -1px;

}


.addARound:hover {	background: 			#d6d6d6 /*{c-bdown-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/);

}


.addActivity:hover {	background: 			#d6d6d6 /*{c-bdown-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eee /*{c-bdown-background-start}*/, #d0d0d0 /*{c-bdown-background-end}*/);

}

.controlbutton{
	width:40%;
}

#AjaxLoading{
	font-weight:bold;
	text-align:center;
}

p{
 	font-size: small;
	color: #333333;
	font-weight: normal;   
}

.ui-panel-inner ul{
    list-style-type: none;
    padding:0;
    margin: 0;
    width:100%;
}

#slidemenu ul li.active {
  background-color: #333;
}

#slidemenu ul li.active a{
  color:#CA3C32;
}

#slidemenu ul li {
  background-color: #3d3d3d;
  width:98%;
  color: #999;
  border-top: 2px solid #494949;
  border-bottom: 2px solid #2b2b2b;
  padding-left: 3%;
}

#slidemenu ul li a{
  font-size: 1.2em;
  color:#999;
  text-shadow: 1px 1px 0 #000;
  padding-left:1%;
}

.menusection{
  margin: 0px 0;
  width:98%;
  background-color: #4d4d4d;
  height:16px;
  color: #969696;
  font-size: 1em;
  font-weight:bold; 
  padding: 1% 0 1% 2%;
  border-top: 2px solid #494949;
  border-bottom: 2px solid #2b2b2b;
  text-shadow:none;
}

#menu
{ 
	position:fixed;
	overflow: auto;
	height:460px;
    top: 0;
    left: 0;
	display:none;
	color:#fff;
	background-color:#3f2b44;
	z-index:100;
}

#menu.active
{ 
	display:block;
}

#tab1{
    display:none;
}

#tab2{
    display:none;
}

#tab1.active
{ 
	display:block;
}

#tab2.active
{ 
	display:block;
}

#loginback
{
	background-color:#252525;
	min-height: 326px;
}

#error
{
	background-color:RED;
	color:#fff;
	font-weight:bold;
	padding:1%;
	width:75%
}

.remove
{
	float:left;
}

#message
{
	color:#333333;
	font-weight:bold;
	padding-top:2%;
	width:75%;
        text-align:center;    
}

#header
{
	font-family:Airstrip Four;
	font-size:medium;
	color:#ffea00;
	background-color:#3f2b44;
}

#nav{
	background:url(../../images/640/navBk.png) repeat-x top left #fff;
}


#canvas
{
	width:100%;
	min-height: 320px;
	color:#333;
	background-color:#fff;
}

#content
{
color:#333;
background-color:#fff;
}

#video
{
	display:none;
}

#video.active
{
    display:block;
}

#map_canvas
{
    width:90%;
    height:320px;
    margin:5%;
    display:none;
}

#map_canvas.active
{
    display:block;
}

#random
{
	background-color:#3f2b44;
	padding:2%;
	text-align:center;
	color:#fff;
	background-repeat:no-repeat;
}

img
{
	border: none;
	margin: 0; padding: 0; border: 0;
	vertical-align:bottom;	
}

select
{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	
}

.select{
		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


input
{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

.ActivityAttributes{
    height:120px;
    padding:5px 0 5px 0;
    background-color: #EEE;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
}

.delete{
    float:right;
    background-color:#a42331;
    color:white;
    font-weight:bold;
}

.AddNewActivityAttributes{
    height:300px;
    padding:5px 25px 5px 25px;
    background-color: #EEE;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
}

#SelectActivities{
    padding:2px;
    background-color: #EEE;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
}

.benchmark
{
	width:70%;
	margin:4% 0 4% 12%;
	background-color:#fff;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #fff;
	color:#021937;
	font-weight:bold;
}

.benchmark a
{
	color:#021937;
	font-weight:bold;
}

#topselection
{
	width:90%;
	margin:2% 5% 0 5%;
	font-weight:bold;
	font-size:medium;
}

#AjaxOutput
{
    padding:2%;
    width:92%;
    margin:2%;
    font-weight:bold;
    font-size:medium;
}

#bmdescription
{
	width:80%;
	margin:2% 6% 0 6%;
	padding:4%;
	background-color:#fff;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #fff;	
	color:#000;
	font-weight:bold;
	font-size:medium;
}

.StopwatchButton{
    background-color: #EEE;
    width:32%;
    float:left;
}

#clock{
    background-color: #EEE;
    font-size: 30px;
    font-weight: bold;

    text-align: center;
    width: 96%;
    text-align:center;
    font-weight:bold;
    
}

.ExerciseHistory{
    color:red;
    display:none;
}

.ExerciseHistory.active{
    color:red;
    display:block;
}

#resetbutton{
	padding: 0.2em 10px;

}

.textinput{
    	border-radius: 1px; 
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
}

.numberinput{
    	border-radius: 1px; 
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px;
}

#ClockSelect{
margin:0 auto 0 auto;
text-align:center;
width:90%;	
}

#timerContainer{
    display:none;
}

#timerContainer.active
{
    display:block;
}

.clsFooter
{
	background-color: #C2B99A;
	text-align: center;
	line-height: 130%;
}

.clsCounter
{
	background-color: #C2B99A;
	color: #FFFFFF;
}

.clsLeftAlign
{
	text-align: left;
	padding-left: 5px;
    font-family: "Century Gothic, Helvetica, Arial, Verdana, Geneva, sans-serif";
}

.clsMobile
{
    -wap-input-format: "*N";
    -wap-input-required: true;
}

.numericText {
    -wap-input-format: "*N";
}
.requiredText {
    -wap-input-required: true;
}
.requiredNum {
    -wap-input-format: "*N";
    -wap-input-required: true;
}

#bodytext
{
	padding:2%;
}

.clear
{
	clear:both;
}

h1 {
	font-size: large;
	font-weight: bold;
}
h2 {
	font-size: medium;
	color: #575757;
}
h3 {
	font-size: small;
	font-weight: bold;
}

.clabel
{
	float:left;
	width:30%;
}

.white
{
 	padding:2%;
}

.grey
{
	background-color:#e8e9e9;
	padding:2%;
}

.red-navigation_a {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #CB0D14;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}

.red-navigation_a:hover {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #000000;
	background-color: #E2565B;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}
.yellow-navigation_a {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #FFA600;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}

.yellow-navigation_a:hover {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFC14C;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}
.blue-navigation_a {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #012A68;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}

.blue-navigation_a:hover {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #000000;
	background-color: #4C6995;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}
.green-navigation_a {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #3F7A26;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}

.green-navigation_a:hover {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #000000;
	background-color: #78A266;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}
.black-navigation_a {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}

.black-navigation_a:hover {
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #999999;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	clear: left;
	font-weight: bold;
}

li {
	list-style-position: outside;
	list-style-type: disc;
}

a {
	color: #333;
	text-decoration:none;
}

#footer a {
	color: #fff;
	text-decoration:none;
}

#container a {
	color: #fff;
	text-decoration:none;
}

.image-left {
	padding: 0px;
	float: left;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
}

#breadcrumbs
{
	margin: 0;
	font-size:medium;
	font-weight:bold;
	color:#fff;
}

#breadcrumbs a
{
	font-weight:bold;
	color:#fff;
	text-decoration:underline;
}

#breadcrumbs img
{
	margin: 0 2% 0 2%;
	vertical-align:middle;
}

.listitem
{
	width:100%;
	padding:2%;
}

.listitemimage
{
	float:left;
	margin: 2% 0 4% 0;
	width:20%;
}

.listitemtext
{
	float:left;
	margin: 0 0 0 4%;
	width:70%;
}

.listitemtext a
{
	color:#024e8c;
	font-style:italic;
}

/*main footer*/
#footer{
    background:url(../../images/640/navBk.png) repeat-x top left #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#fff;
    margin:0;
    text-align:center;
}

.FooterIcons{
	padding: 2% 0 0 5%;
	font-size:12px;
	color:#333;
	font-weight:bold;	
}

.FooterIcons img
{
	vertical-align:middle;
}

.ui-popup-open .ui-header-fixed,.ui-popup-open .ui-footer-fixed{position:absolute!important}.ui-popup-screen{background-image:url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);top:0;left:0;right:0;bottom:1px;position:absolute;filter:Alpha(Opacity=0);opacity:0;z-index:1099}.ui-popup-screen.in{opacity:0.5;filter:Alpha(Opacity=50)}.ui-popup-screen.out{opacity:0;filter:Alpha(Opacity=0)}.ui-popup-container{z-index:1100;display:inline-block;position:absolute;padding:0;outline:0}.ui-popup{position:relative}.ui-popup.ui-content,.ui-popup .ui-content{overflow:visible}.ui-popup > p,.ui-popup > h1,.ui-popup > h2,.ui-popup > h3,.ui-popup > h4,.ui-popup > h5,.ui-popup > h6{margin:.5em 7px}.ui-popup > span{display:block;margin:.5em 7px}.ui-popup .ui-title{font-size:16px;font-weight:bold;margin-top:.5em;margin-bottom:.5em}.ui-popup-container .ui-content > p,.ui-popup-container .ui-content > h1,.ui-popup-container .ui-content > h2,.ui-popup-container .ui-content > h3,.ui-popup-container .ui-content > h4,.ui-popup-container .ui-content > h5,.ui-popup-container .ui-content > h6{margin:.5em 0}.ui-popup-container .ui-content > span{margin:0}.ui-popup-container .ui-content > p:first-child,.ui-popup-container .ui-content > h1:first-child,.ui-popup-container .ui-content > h2:first-child,.ui-popup-container .ui-content > h3:first-child,.ui-popup-container .ui-content > h4:first-child,.ui-popup-container .ui-content > h5:first-child,.ui-popup-container .ui-content > h6:first-child{margin-top:0}.ui-popup-container .ui-content > p:last-child,.ui-popup-container .ui-content > h1:last-child,.ui-popup-container .ui-content > h2:last-child,.ui-popup-container .ui-content > h3:last-child,.ui-popup-container .ui-content > h4:last-child,.ui-popup-container .ui-content > h5:last-child,.ui-popup-container .ui-content > h6:last-child{margin-bottom:0}.ui-popup > img{width:auto;height:auto;max-width:100%;max-height:100%;vertical-align:middle}.ui-popup iframe{vertical-align:middle}@media all and (min-width:450px){.ui-popup .ui-field-contain label.ui-submit,.ui-popup .ui-field-contain .ui-controlgroup-label,.ui-popup .ui-field-contain label.ui-select,.ui-popup .ui-field-contain label.ui-input-text{font-size:16px;line-height:1.4;display:block;font-weight:normal;margin:0 0 .3em}.ui-popup .ui-field-contain .ui-btn.ui-submit,.ui-popup .ui-field-contain .ui-controlgroup-controls,.ui-popup .ui-field-contain .ui-select,.ui-popup .ui-field-contain input.ui-input-text,.ui-popup .ui-field-contain textarea.ui-input-text,.ui-popup .ui-field-contain .ui-input-search{width:100%;display:block}}.ui-popup > .ui-btn-left,.ui-popup > .ui-btn-right{position:absolute;top:-9px;margin:0;z-index:1101}.ui-popup > .ui-btn-left{left:-9px}.ui-popup > .ui-btn-right{right:-9px}.ui-popup.ui-corner-all > .ui-header,.ui-popup.ui-corner-all ~ .ui-content,.ui-popup.ui-corner-all > .ui-content:first-child{-webkit-border-top-left-radius:inherit;border-top-left-radius:inherit;-webkit-border-top-right-radius:inherit;border-top-right-radius:inherit}.ui-popup.ui-corner-all > .ui-content,.ui-popup.ui-corner-all > .ui-footer,.ui-popup.ui-corner-all > .ui-header:nth-child(n):last-child{-webkit-border-bottom-left-radius:inherit;border-bottom-left-radius:inherit;-webkit-border-bottom-right-radius:inherit;border-bottom-right-radius:inherit}.ui-popup.ui-corner-all > .ui-content:nth-child(2),.ui-popup.ui-corner-all > .ui-header:nth-child(2){-webkit-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;border-top-right-radius:0}.ui-popup.ui-corner-all > .ui-content:nth-last-child(1n+2),.ui-popup.ui-corner-all > .ui-footer:nth-last-child(1n+2){-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}.ui-popup.ui-corner-all > .ui-header:only-child,.ui-popup.ui-corner-all > .ui-footer:only-child{-webkit-border-radius:inherit;border-radius:inherit}.ui-popup-hidden{top:-99999px;left:-9999px}.ui-selectmenu.ui-popup .ui-header{-webkit-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;border-top-right-radius:0}